* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 1200px;
  margin: auto;
}

.container {
  width: 700px;
}

#profile_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

header {
  text-align: center;
}

h5 {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}

button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: rgb(235, 238, 238);
  border: none;
  margin-top: 15px;
  border-radius: 5px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.fa-brands {
  font-size: 18px;
  padding: 10px;
}

footer {
  margin-top: 30px;
  border-top: 1px solid rgb(231, 223, 223);
}

.zuri-intern {
  font-size: 15px;
  font-weight: 700;
}

.dot::after {
  content: ".";
  color: red;
  font-size: 25px;
  font-weight: 700;
}

.hng-intern {
  font-size: 12px;
  color: rgb(129, 123, 123);
}

.ingressive {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.for-good {
  display: block;
}

.bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 475px) {
  .App {
    padding: 20px;
  }

  .bottom {
    display: block;
  }

  .hng-intern {
    margin-top: 10px;
  }

  .ingressive {
    margin-top: 10px;
  }
}
